<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="guidFactory" type="Genguid.Configuration.FactoryConfigurationSection, Genguid"/>
		<section name="guidFactoryObservers" type="Genguid.Configuration.FactoryObserversConfigurationSection, Genguid"/>
		<section name="guidFormatters" type="Genguid.Configuration.FormattersConfigurationSection, Genguid"/>
		<section name="guidGenerationLog" type="Genguid.Configuration.GenerationLogConfigurationSection, Genguid"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Genguid.Genguid" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<guidFactory name="StandardGuidFactory" type="Genguid.Factories.StandardGuidFactory, Genguid"/>
	<guidFactoryObservers>
		<clear />
		<add name="ClipboardWriter" type="Genguid.Clipboard.FactoryObservers.ClipboardWriter, Genguid.Clipboard"/>		
	</guidFactoryObservers>
	<guidFormatters>
		<clear/>
		<add name="CompactGuidFormatter" type="Genguid.Formatters.CompactGuidFormatter, Genguid"/>
		<add name="HyphenatedGuidFormatter" type="Genguid.Formatters.HyphenatedGuidFormatter, Genguid"/>
		<add name="BracedGuidFormatter" type="Genguid.Formatters.BracedGuidFormatter, Genguid"/>
		<add name="LowerCaseGuidFormatter" type="Genguid.Formatters.LowerCaseGuidFormatter, Genguid"/>
	</guidFormatters>	
	<guidGenerationLog name="JsonFileLog" type="Genguid.FactoryObservers.JsonFileLog, Genguid"/>
</configuration>
